body {
  scroll-behavior: smooth;
  background-color: #34495e;
  font-family: sans-serif;
}

.login-box{
  margin-top: 165px;
  display: flex;
  flex-direction: column;
}

.form_area{
  width: 600px;
  height: 200px;
  margin: auto;
  margin-top: 50px;
  border-radius: 20px;
  padding: 20px;
  background: #f5f7fa;
  background-color: #191919;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.form_area input {
  background-color: transparent;
  display: block;
  border: 0;
  border-radius: 24px;
  border: 2px solid #1e88e5;
  outline: none;
  margin: 20px auto;
  padding: 12px 10px;
  text-align: center;
  width: 200px;
  font-size: 16px;
  color: #fff;
  transition: 0.25s;
}

.form_area input:focus{
  width: 260px;
  border: 2px solid #20bf6b;
}

.form_area input[type="submit"]{
  background-color: transparent;
  display: block;
  border: 0;
  border-radius: 24px;
  border: 2px solid #1e88e5;
  outline: none;
  margin: 20px auto;
  padding: 12px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  transition: 0.25s;
}

.form_area input[type="submit"]:hover{
  width: 200px;
  background-color: #1e88e5;
}

h1{
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: -37px;
  margin-bottom: 47px;
  text-shadow: 3px 0px #1e88e5;
}