<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="../static/chat.css">
</head>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
      function room() {
        var room = window.location.href.substring(window.location.href.lastIndexOf("/")+1);
        if (room=="") room = "general";
        return "/api/chat/"+room;
      }
      
      function createHTMLElements(message,username){
        if(message=='')
          return $("<div></div>");
        hour = message.timestamp.split(' ')[1]
        msg_sender = message.username
        msg_text = message.message_text;

        var blog = $("<div></div>").addClass("blog")
        var sender = $("<h6></h6>").text(msg_sender).addClass("sender_txt")
        var time = $("<p></p>").text(hour).addClass('time')
        var msg = $("<div></div>").text(msg_text).addClass("chat__message");
        if(msg_sender == username)
          msg.addClass('myMsg');
        else{
          msg.addClass('otherMsg')
          blog.addClass('otherBlog')
        }
        blog.append(sender,msg,time);
        return blog;
      }


      
      function updateChat() {
        $.get(room(), function(data) {
          console.log(data);
          [username, messages]=data
          console.log(messages);
          var chatbox = $("#chatbox");
          if(messages != null){
            chatbox.empty();
            messages.forEach(function(message) {
            chatbox.append(createHTMLElements(message,username));
          });
          }
          window.setTimeout(updateChat, 1500);
        })
      }
      function sendmessage() {
        $.post(room(), $("#inform").serialize(),);
      }
      function clearmessages() {
        $.post(room(), $("#inform").serialize() );
      }


      function clearChat() {
        $.post(room() + "?clear=true", function(data) {
      // Handle the response if needed
      // For example, you can update the chatbox with a message like "Chat cleared."
      })}
  
    $(document).ready(function() {
      $("#chatbox").text("Loading chat...");
      $("#sendBtn").click(sendmessage)
      // $("#clear_btn").click(clearChat)
      window.setTimeout(updateChat, 1500);
    });
  
    </script>




    <body>
      <h1 class="_form-title">Chat Room: {{ room }}</h1>


      <form id="inform" action="/api/chat" method="POST" class="form_area">
            


        <div class="user-box">
          <input  name="msg" type="text"  placeholder="Message" class="user-box">
        </div>


        <div class="user-box">
          <input name="send_btn" id="sendBtn" type="button"  value="send" >
        </div>


        <div class="user-box" >
          <input id="clearBtn" type="button" value="Clear" onclick="clearChat()">
        </div>




      </form>
      
      <div class="wrapper">
        <div class="chat">
          <div id="chatbox" class="chat-container">


          </div>
        </div>
      </div>


    </div>


      <footer>
        <div class="user-box">
          <a href="/logout" class="logout">logout</a>
        </div>


        <div class="user-box">
          <a href="/lobby" class="logout">Back to lobby</a>
        </div>

     </footer>


    </body>


  </html>
